aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor>=3.1.1,<4
pymongo>=4.1,<5
pillow==9.5.0
psutil
py-tgcalls==0.8.6
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml==5.3.1
requests
speedtest-cli
spotipy
tgcrypto
youtube-search
youtube-search-python
ntgcalls==1.1.2
git+https://github.com/yt-dlp/yt-dlp.git